:root {
  //--clr-main: 
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 1vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

* {
  letter-spacing: 1%;
  box-sizing: border-box;
  font-family: Inter;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
  cursor: pointer;
}


html {
  overflow: hidden;
  overscroll-behavior: none;
  font-family: "Verdana", sans-serif;
  background-color: #000;
}

body {
  margin: 0 auto;
  height: 100svh;
  max-width: 500px;
  border-radius: 2vh;
  padding: 1vh;
  border: 1px solid transparent;
  background-color: #eee;
  display: flex;
  flex-direction: column;

  * {}

  header {
    margin: 1vh 0;

    >p {
      font-size: 2vh;
    }

  }

  main {
    border-top: 1px solid #999;
    flex-grow: 1;
    overflow-y: auto;
  }

  nav {
    >a {
      font-size: 2vh;
      margin: 1vh 0;
    }
  }
}

.card {
  //border: 1px solid #111;
  border-radius: 2vh;
  margin: 1vh;
  background-color: #ddd;
}

.expedition {
  padding: 1vh;
  display: flex;

  >* {
    margin: 1vw;
  }

  >.lineNo {
    font-weight: bold;
    font-size: 3vh;
    border-right: 1px solid #bbb;
    padding: 1.5vh;
    align-self: center;
  }

  >.start,
  >.end {
    flex-grow: 1;
    text-align: center;

    >.name {
      font-size: 2vh;
      font-weight: bold;
    }

    >.hours {
      font-size: 2.5vh;
    }
  }
}